<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="in.yaswanth.serverSocketsforCordova" version="0.1.0">
    <name>SocketsForCordova</name>
    <description>
		This Cordova plugin provides JavaScript API, that allows you to communicate with clients through TCP protocol.
		Currently we support these platforms:Android.
	</description>
    <license>Apache 2.0</license>
    <keywords>socket,sockets,network,tcp,cordova,sever,Android,serverSocket,serverSockets</keywords>

    <js-module src="socket.js" name="Socket">
        <clobbers target="window.Socket" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SocketsForCordova"> 
                <param name="android-package" value="cz.blocshop.socketsforcordova.SocketPlugin"/>
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>  
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/Logging.java" target-dir="src/cz/blocshop/socketsforcordova" />
        <source-file src="src/android/src/cz/blocshop/socketsforcordova/Consumer.java" target-dir="src/cz/blocshop/socketsforcordova" />
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/SocketAdapter.java" target-dir="src/cz/blocshop/socketsforcordova" />
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/SocketAdapterImpl.java" target-dir="src/cz/blocshop/socketsforcordova" />
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/SocketAdapterOptions.java" target-dir="src/cz/blocshop/socketsforcordova" />
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/SocketPlugin.java" target-dir="src/cz/blocshop/socketsforcordova" />
		
    </platform>
    
    
</plugin>
