<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="in.yaswanth.serverSocketsforCordova" version="0.1.0">
    <name>serverSocketsForCordova</name>
    <description>
		This Cordova plugin provides JavaScript API, that allows you to communicate with clients through TCP protocol.
		Currently we support these platforms:Android.
	</description>
    <license>Apache 2.0</license>
    <keywords>socket,sockets,network,tcp,cordova,sever,Android,serverSocket,serverSockets</keywords>

    <js-module src="serverSocket.js" name="serverSocket">
        <clobbers target="window.serverSocket" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="serverSocketsForCordova"> 
                <param name="android-package" value="in.yaswanth.serverSocketsForCordova.SocketPlugin"/>
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>  
		<!--source-file src="src/android/src/in/yaswanth/serverSocketsForCordova/Logging.java" target-dir="src/in/yaswanth/serverSocketsForCordova/" />
        	<source-file src="src/android/src/in/yaswanth/serverSocketsForCordova/Consumer.java" target-dir="src/in/yaswanth/serverSocketsForCordova/" />
		<source-file src="src/android/src/in/yaswanth/serverSocketsForCordova/SocketAdapter.java" target-dir="src/in/yaswanth/serverSocketsForCordova/" />
		<source-file src="src/android/src/in/yaswanth/serverSocketsForCordova/SocketAdapterImpl.java" target-dir="src/in/yaswanth/serverSocketsForCordova/" />
		<source-file src="src/android/src/in/yaswanth/serverSocketsForCordova/SocketAdapterOptions.java" target-dir="src/in/yaswanth/serverSocketsForCordova/" /-->
		<source-file src="src/android/src/in/yaswanth/serverSocketsForCordova/SocketPlugin.java" target-dir="src/in/yaswanth/serverSocketsForCordova/" />
		
    </platform>
    
    
</plugin>
